{% extends 'movie/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-content">
            <h3 class="text-center">Login User</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="username">Usrename</label>
                <input type="text"  class="form-control" name="username">
                <br>
                <label for="password">Password</label>
                <input type="password"  class="form-control" name="password">
                <br>
                <div class="text-center">
                    <input type="submit"  value="Login" class="btn btn-danger">
                </div>
            </form>
        
        </div>
    </div>
</div>
</div>

{% endblock content %}
